<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fruno.appcaptan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:configChanges="orientation"
        android:screenOrientation="portrait"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".activity.LoginActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.ListaPautasActivity"/>
        <activity android:name=".activity.PerfilActivity"/>

    </application>
</manifest>
